/* Fondo color eee */

html, body{
    background-color: #eee;
}

/* Formulario del index */
.app > form{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;   
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid rgb(47, 182, 187);
    /*box-shadow: 1px 1px 10px rgb(5, 133, 155);*/
    margin: auto;
    margin-top: 3rem;
    padding: 10px;
    padding-bottom: 4.5rem;
}

/* h1 INICIO SESION */
.app > form >h1{
    text-align: center;
    font-size: 1.4rem;    
    margin-bottom: 1.5rem;
    font-family: monospace;    
}

/* h3 USUARIO CONTRASEÑA */
.app > form > h3{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: monospace;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

/* imnput del index */
.app > form > input{
    width: 80%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: monospace;
    margin-left: 1rem;
}

/* boton INICIAR */
.app > form > .inputbtn{
    width: 50%;
    font-size: 1rem;
    font-family: monospace bold;    
    margin: auto;
    margin-top: 2rem;
    color: white;
    background-color: black;
    padding: 15px;
    padding-top: 6px;
}

/*Navbar con el carrito, busqueda y boton cerrar sesion*/
.sesionB{
    display: flex;
    justify-content: space-between;    
    border-radius: 10px;
    background-color: #eee;    
    box-shadow: 1px 1px 3px rgb(42, 47, 48);
    padding-left: 1rem;    

}

/*Navbar del archivo de carrito*/
.sesionB2{
    display: flex;
    justify-content: end;    
    border-radius: 10px;
    background-color: #eee;    
    box-shadow: 1px 1px 3px rgb(42, 47, 48);
    padding-left: 1rem;    

}

/*Navbar del archivo de producto*/
.btnInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;     
}

/*Boton del usuario*/
.btnUser{
    margin-right: 1rem;
}

/*Boton del usuario cerrar sesion */
.btnUser2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
}

/*nombre del usuario*/
.btnUser2 > p{
    padding-top: 1rem;    
    margin-right: 5rem;
    
}

/*img del usuario*/
.btnUser2 > img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    
}

/*img usuario*/
.btnInfo > img{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

/*img contador*/
.imgCon{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

/*Nombre del usuario*/
.usernamee{
    margin-left: 1rem;
}

/*Boton cerrar sesion*/
.btnC{
    font-size: .7rem;
    border-radius: .2rem;
    font-family: monospace bold;        
    color: white;
    background-color: black;
    padding: .3rem;    
    margin-bottom: 1rem;
    margin-left: 2rem;
}

/*Direccion de home>productos*/
.dire{
    display: flex;    
}

/*Estilos a la direccion*/
.dire > a {
    text-decoration: none;
    color: black;
    font-size: .8rem;
    font-family: monospace;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 0.1rem;
}

/*Estilos a la direccion*/
.dire > p{
    font-size: .8rem;
    font-family: monospace;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
}

/*Button del buscador*/
.buttonSearch{    
    border-radius: 5px;
    border: 1px solid gray;    
    font-size: .8rem;
    font-family: monospace;
    margin-left: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: .3rem;
    padding-right: 20rem;
}

/*Contador*/
.contador{    
    padding: 0;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

/*Cartas*/
.cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

}

/*cartas*/
.card{
    margin: 0.01rem;
    margin: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(142, 174, 180);
}

/*texto de las cartas*/
.card-text{
    text-align: center;
    width: 10rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*Button de quitar y agregar*/
.buttonAQ{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    
}

/*Precios*/
.precios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

/*Altura de la imagen en top*/
.card-img-top{
    width: 10rem;
    height: 10rem;
}

/*Info en las cartas*/
.infoP{
    font-family: monospace;
    font-size: .75rem;    
    border-radius: 5px;
    align-items: left;
}

/*Producto de las cartas*/
.productosP{
    box-shadow: 1px 1px 3px rgb(42, 47, 48);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    margin-right: 60rem;
}

/*img del producto*/
.fotoProducto{
    width: 10rem;
    height: 10rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;  
    
}

/*Contador del producto*/
.productCount{
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

/*contador*/
.productCount > h3{
    padding: 0.2rem;
}

/*boton quitar*/
.btnQuitarP{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.3rem;
}

/*boton quitar*/
.btnQuitarP > button{
    color: white;
    background-color: black;
}

/*enlaces del crud*/
.enlaces{
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

/*lista de usuarios crud*/
.enlaces > ul > li{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;        
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(42, 47, 48);
    padding: 1rem;
}

/*Seleccionar algo del crud*/
.seleccionar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1.3rem;
}

/*enlaces al crud*/
.enlacesCrud{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*listas del crud*/
.enlacesCrud > ul > li{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;    
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(42, 47, 48);
    padding: 1rem;
}

/*anclas del crud*/
.enlaces > ul > li > a, .enlacesCrud > ul > li > a{
    text-decoration: none;
    color: white;
}

/*buscar del crud*/
.crud, .crudBus{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*formulario del crud*/
.crud > form{
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
    align-items: center;
    margin-bottom: 1.3rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(42, 47, 48);
    padding-top: 1rem;
}

/*input del crud*/
.crud > form > input, .crudBus > form > input{
    margin-bottom: 1rem;
}

/*formulario crud buscar*/
.crudBus > form {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
    align-items: center;
    margin-bottom: 1.3rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(42, 47, 48);
    padding-top: 1rem;
}

/*cuando el cursor pasa encima del elemento, cambia de color*/
.app > form > .inputbtn:hover, .btnC:hover, .quitarP:hover, .btnG:hover, .btnB:hover{
    background-color: #eee;
    color: black;
    cursor: pointer;
}

.btnG:hover, .btnB:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.enlaces > ul > li:hover, .enlacesCrud > ul > li:hover{
    background-color: #eee;
    color: black;
    cursor: pointer;
}

.enlaces > ul > li:hover > a, .enlacesCrud > ul > li:hover > a{
    color: black;
}
