html, body{
    background-color: #eee;
}

.app > div{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;   
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid rgb(47, 182, 187);
    /*box-shadow: 1px 1px 10px rgb(5, 133, 155);*/
    margin: auto;
    margin-top: 5rem;
    padding: 10px;
    padding-bottom: 10rem;
}

.app > div >h1{
    text-align: center;
    font-size: 1.4rem;    
    margin-bottom: 1.5rem;
    font-family: monospace;
}

.app > div > h3{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: monospace;
}