html, body{
    background-color: #eee;
}

.app > form{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;   
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid rgb(47, 182, 187);
    /*box-shadow: 1px 1px 10px rgb(5, 133, 155);*/
    margin: auto;
    margin-top: 3rem;
    padding: 10px;
    padding-bottom: 4.5rem;
}

.app > form >h1{
    text-align: center;
    font-size: 1.4rem;    
    margin-bottom: 1.5rem;
    font-family: monospace;    
}

.app > form > h3{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: monospace;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.app > form > input{
    width: 80%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: monospace;
    margin-left: 1rem;
}

.app > form > button{
    width: 50%;
    font-size: 1.2rem;
    font-family: monospace bold;    
    margin: auto;
    margin-top: 2rem;
    color: white;
    background-color: black;
    padding: 15px;
}


.app > form > button:hover{
    background-color: #eee;
    color: black;
    cursor: pointer;
}