<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--METADATA PARA PWA-->

    <!--Tema para dispositivos, color de barra de estado Android-->
    <meta name="theme-color" content="#41b883">
    <!--Optimizado para dispositivos moviles-->
    <meta name="MobileOptimized" content="width">
    <!--Amigable para uso en movil-->
    <meta name="HandheldFriendly" content="true">
        
<!--Dispositivos Moviles IOS-->
    <!--Tema para dispositivos, color de barra de estado iOS-->
    <!--Quitarle el segurito xd, para poder modificar barra de estado-->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


<!--TITULO-->
    <title>Sistema Vue</title>

<!--ICONOS-->
    <link rel="shortcut icon" href="./img/icono16px.png" type="image/png">
    <link rel="apple-touch-icon" href="./img/icono16px.png">
    
    <!--Imagen en centro cuando inicie el PWA-->
    <link rel="apple-touch-startup-image" href="./img/icono16px.png">    

<!--MANIFEST
    <link rel="manifest" href="./manifest.json">
-->

<!--CSS-->
    <link rel="stylesheet" href="./css/styles.css">

<!--VUE CDN-->
    <script src="https://unpkg.com/vue@next"></script>
    
<!--AXIOS CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>

</head>


<body>
    
    <div id ="app" class="app">
        
        <form v-on:submit="btnIniciarSesion2">

            <h1>{{loggin.mensaje}}</h1>

            <h3>{{loggin.usuarioo}}</h3>

            <input v-model="inputName" type="text" placeholder="Ingrese el usuario" required>

            <h3>{{loggin.contrasena}}</h3>

            <input v-model="inputPass" type="password" placeholder="Ingrese contraseña" required>
            
            <input type="submit" value="Iniciar" class="inputbtn">

        </form>



    </div>
    
    <script>
        var user = localStorage.getItem('usuario');
        if( user ){
            console.log("Ya hay un usuario existente");
        }else{
            console.log("No hay usuario");
        }
    </script> 
    
    <script src="./js/main.js"></script>
    <script src="./js/mount.js"></script>

</body>


</html>