<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--METADATA PARA PWA-->

<!--Tema para dispositivos, color de barra de estado Android-->
<meta name="theme-color" content="#41b883">
<!--Optimizado para dispositivos moviles-->
<meta name="MobileOptimized" content="width">
<!--Amigable para uso en movil-->
<meta name="HandheldFriendly" content="true">
    
<!--Dispositivos Moviles IOS-->
<!--Tema para dispositivos, color de barra de estado iOS-->
<!--Quitarle el segurito xd, para poder modificar barra de estado-->
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">    

<!--TITULO-->
<title>Carrito</title>

<!--ICONOS-->
<link rel="shortcut icon" href="../img/icono16px.png" type="image/png">
<link rel="apple-touch-icon" href="../img/icono16px.png">

<!--Imagen en centro cuando inicie el PWA-->
<link rel="apple-touch-startup-image" href="../img/icono16px.png">    

<!--MANIFEST-->
<link rel="manifest" href="../manifest.json">

<!--CSS-->
<link rel="stylesheet" href="../css/styles.css">

<!--VUE CDN-->
<script src="https://unpkg.com/vue@next"></script>

<!--AXIOS CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>

</head>
<body>
    <div id="app">

        <div>
            <div class="dire">
                <a href="../index.html">Home</a>
                <p>{{productos.signo}}</p>
                <a href="productos.html">Productos</a>
                <p>{{productos.signo}}</p>
                <a href="carrito.html">Carrito</a>
            </div>

            <div class="sesionB2">
                <div class="btnUser">           
                    <div class="btnUser2">
                        <img src="../img/user.png" alt="">
                        <p class="usernamee">{{productos.username}}</p>              
                    </div>
                    <form v-on:submit="btnCerrarSesion">
                        <input type="submit" value="Cerrar Sesion" class="btnC" >                          
                        </a>
                    </form>   
                </div>                       
            </div>         

            <div class="productosP">
                <div class="fotoProducto">
                    <img class="card-img-top" src="../img/icono256px.png" alt="Card image cap">
                </div>
                <div class="infoP">
                    <h2>
                        {{productos.datos[0].nombre_producto}}
                    </h2>
                    <h4>
                        ${{productos.datos[0].precio}}.00
                    </h4>
                    <div class="productCount">
                        <button @click="modCount('',1)"  class="btn btn-primary">+</button>                        
                        <h3>{{productos.counts}}</h3>
                        <button v-on:click="modCount('dis',1)" class="btn btn-primary">-</button>
                    </div>
                </div>
                <div class="btnQuitarP">
                    <button v-on:click="btnAgregarCarrito" class="quitarP">QUITAR</button>                    
                </div>
            </div>

            <div class="resumen">
            </div>
        </div>


    </div>

    <script src="../js/main.js"></script>
    <script src="../js/mount.js"></script> 


</body>
</html>