<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--METADATA PARA PWA-->

<!--Tema para dispositivos, color de barra de estado Android-->
    <meta name="theme-color" content="#41b883">
    <!--Optimizado para dispositivos moviles-->
    <meta name="MobileOptimized" content="width">
    <!--Amigable para uso en movil-->
    <meta name="HandheldFriendly" content="true">
        
<!--Dispositivos Moviles IOS-->
    <!--Tema para dispositivos, color de barra de estado iOS-->
    <!--Quitarle el segurito xd, para poder modificar barra de estado-->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">    
    
<!--TITULO-->
    <title>Productos</title>

<!--ICONOS-->
<link rel="shortcut icon" href="../img/icono16px.png" type="image/png">
<link rel="apple-touch-icon" href="../img/icono16px.png">

<!--Imagen en centro cuando inicie el PWA-->
<link rel="apple-touch-startup-image" href="../img/icono16px.png">    

<!--MANIFEST-->
<link rel="manifest" href="../manifest.json">

<!--CSS-->
<link rel="stylesheet" href="../css/styles.css">

<!--VUE CDN-->
<script src="https://unpkg.com/vue@next"></script>

<!--AXIOS CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    


</head>
<body>
    
    <div id="app">

        <div class="dire">
            <a href="../index.html">Home</a>
            <p>{{productos.signo}}</p>
            <a href="productos.html">Productos</a>
        </div>

        <div class="sesionB">
                <div class="btnInfo">
                    <input type="text" placeholder="Buscar producto" class="buttonSearch">                
                    <img src="../img/search.svg" class="imgS">
                    <img class="imgCon" src="../img/carr.png">
                    <h3 class="contador">{{productos.counts}}</h3>
                </div>

                <div class="btnUser">           
                    <div class="btnUser2">
                        <img src="../img/user.png" alt="">
                        <p class="usernamee">{{productos.username}}</p>              
                    </div>
                    <form v-on:submit="btnCerrarSesion">
                        <input type="submit" value="Cerrar Sesion" class="btnC" >                
                    </form>   
                </div>                    
        </div>    
          

        <div class="cartas">
            <div class="card" style="width: 20%;" v-for ="(dato) in productos.datos">
                <!--<img class="card-img-top" src={{dato.imagen}} alt="Card image cap">-->
                <img class="card-img-top" src="../img/icono256px.png" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <div class="precios">
                        <h5 class="card-title">{{dato.nombre_producto}}</h5>
                        <h6>Precio: ${{dato.precio}}.00</h6>
                    </div>

                    <p class="card-text">{{dato.descripcion}}</p>
                    <div class="buttonAQ">
                        <button @click="modCount('',1)"  class="btn btn-primary">Agregar</button>
                        <button v-on:click="modCount('dis',1)" class="btn btn-primary">Quitar</button>
                    </div>
                    
                </div>                    
            </div>

        </div>

        
    </div>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    

    <script src="../js/main.js"></script>
    <script src="../js/mount.js"></script> 
</body>
</html>